.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
  /* margin-left: 156px; */
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 82px;
  height: 72px;
  font-size: 24px;
  font-weight: 84;
}

.value {
  font-size: 40px;
  font-weight: 400;
}

.flatpickr-input[readonly] {
  width: 355px;
  height: 40px;
  margin-top: 20px;
  padding-left: 16px;

  font-size: 24px;
  font-weight: 138;
  
  color: #2e2f42;
  border-color: #4e75ff;
  border-radius: 4px;
}

input + button {
  width: 75px;
  height: 40px;

  font-size: 16px;
  font-weight: 43;

  color: #ffffff;
  background-color: #4e75ff;
  border-color: #4e75ff;
  border-radius: 8px;
  fill: #4e75ff;
}

button.isActive {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  color: #989898;
  cursor: auto;
}
