/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
@import url('./1-timer.css');

label {
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  width: 360px;

  margin-left: 156px;
  margin-top: 36px;

}

legend {
  text-align: left;
}

label {
  color: #2e2f42;
}

label + input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
}

label + input:hover {
  border: 1px solid #2e2f42;
}

label + input:focus {
  outline: 1px solid #4e75ff;
} 

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
}

fieldset + button {
  height: 40px;
  margin-top: 24px;
  padding: 0;
  background-color: #4e75ff;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  color: #ffffff;
}

fieldset + button:hover {
  background-color: #6c8cff;
}

input[type="radio"] {
  background-color: #4e75ff;
}